# Exploratory Data Analysis on Cricket T20 Internationals Dataset

### <b>About Dataset</b>

This extensive dataset serves as a comprehensive repository of historical information regarding T20 International (T20I) cricket matches dating back to the inception of the format. T20I cricket is renowned for its thrilling encounters, and this dataset meticulously documents the particulars of these matches. It stands as a valuable resource for cricket enthusiasts, statisticians, and analysts eager to delve into and dissect T20I cricket data.

<b> Key Features:</b>

- Match Details: Thorough information pertaining to each T20I match, encompassing match date, location, and format.

- Teams and Players: In-depth details about the participating teams, encompassing player names, roles, and batting/bowling statistics).
- Match Outcomes: Insights into match results, encompassing the victorious team and the margin of victory.
- Player of the Match: Recognition of the standout player in each T20I match.
- Umpires and Match Referees: Particulars of the officials responsible for overseeing the match.
- Toss Details: Revelations about the toss winner's decisions, which can significantly influence the game's trajectory.
- Venue Information: Location specifics, including stadium name, city, and country.

### Importing Liabraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Loading datasets

In [3]:
# All matches records
matches_data = pd.read_csv("./datasets/t20i_Matches_Data.csv")

# Players information
players_info = pd.read_csv("./datasets/players_info.csv")

#Batting Stats
batting_data = pd.read_csv("./datasets/t20i_Batting_Card.csv")

#Bowling Stats
bowling_data = pd.read_csv("./datasets/t20i_Bowling_Card.csv")

### Understanding and cleaning matches data

In [4]:
matches_data.head()

,T20I Match No,Match ID,Match Name,Series ID,Series Name,Match Date,Match Format,Team1 ID,Team1 Name,Team1 Captain,...,Umpire 2,Match Referee,Toss Winner,Toss Winner Choice,Match Winner,Match Result Text,MOM Player,Team1 Playing 11,Team2 Playing 11,Debut Players
0,52,291356,Australia Vs India Only T20I,291355,India tour of Australia - 2007 (2007/08),2008-02-01,T20,6,India,7593,...,SJA Taufel,JJ Crowe,India,bat,Australia,Australia won by 9 wickets (with 52 balls rema...,8876.0,"['7773', '7781', '8813', '8742', '48405', '759...","['4176', '8876', '6253', '6256', '4382', '1198...","['11984', '49327', '48319']"
1,54,300436,New Zealand Vs England 2Nd T20I,300418,England tour of New Zealand - 2008 (2007/08),2008-02-07,T20,1,England,2314,...,GAV Baxter,AG Hurst,England,bat,England,England won by 50 runs,2314.0,"['11556', '44660', '8107', '7822', '2314', '63...","['44946', '10384', '44930', '10381', '9570', '...","['47488', '10325']"
2,65,361531,Netherlands Vs Scotland 2Nd Semi Final,353665,"ICC World Twenty20 Qualifier Bermuda, Canada, ...",2008-08-04,T20,30,Scotland,45548,...,PK Baldwin,BC Broad,Netherlands,bowl,Netherlands,Netherlands won by 5 wickets (with 12 balls re...,45358.0,"['45548', '46048', '46142', '8221', '4334', '4...","['10323', '48655', '6362', '49443', '45358', '...",[]
3,66,354459,Kenya Vs Scotland 3Rd Place Playoff,353665,"ICC World Twenty20 Qualifier Bermuda, Canada, ...",2008-08-04,T20,26,Kenya,2265,...,PK Baldwin,BC Broad,Kenya,bat,Scotland,Scotland won by 9 wickets (with 11 balls remai...,45548.0,"['10364', '2264', '49383', '2265', '2268', '50...","['45548', '46048', '46142', '8221', '4334', '4...","['50293', '50293']"
4,69,361653,Sri Lanka Vs Zimbabwe 1St Match,361644,T20 Canada in Canada - 2008 (2008/09),2008-10-10,T20,9,Zimbabwe,45326,...,MR Benson,JJ Crowe,Sri Lanka,bowl,Sri Lanka,Sri Lanka won by 5 wickets (with 6 balls remai...,50377.0,"['10639', '10423', '47619', '10421', '21364', ...","['48468', '7419', '15273', '8195', '6315', '48...","['50377', '47210', '12209', '15273', '48468', ..."

In [5]:
matches_data.columns

Index(['T20I Match No', 'Match ID', 'Match Name', 'Series ID', 'Series Name',
       'Match Date', 'Match Format', 'Team1 ID', 'Team1 Name', 'Team1 Captain',
       'Team1 Runs Scored', 'Team1 Wickets Fell', 'Team1 Extras Rec',
       'Team2 ID', 'Team2 Name', 'Team2 Captain', 'Team2 Runs Scored',
       'Team2 Wickets Fell', 'Team2 Extras Rec', 'Match Venue (Stadium)',
       'Match Venue (City)', 'Match Venue (Country)', 'Umpire 1', 'Umpire 2',
       'Match Referee', 'Toss Winner', 'Toss Winner Choice', 'Match Winner',
       'Match Result Text', 'MOM Player', 'Team1 Playing 11',
       'Team2 Playing 11', 'Debut Players'],
      dtype='object')

In [6]:
matches_data.shape

(2380, 33)

In [7]:
# Renaming columns
new_col = []
for col_name in matches_data.columns.to_list():
    new_col.append(col_name.replace(" ","_").lower())
    
matches_data.columns = new_col

In [8]:
matches_data.columns

Index(['t20i_match_no', 'match_id', 'match_name', 'series_id', 'series_name',
       'match_date', 'match_format', 'team1_id', 'team1_name', 'team1_captain',
       'team1_runs_scored', 'team1_wickets_fell', 'team1_extras_rec',
       'team2_id', 'team2_name', 'team2_captain', 'team2_runs_scored',
       'team2_wickets_fell', 'team2_extras_rec', 'match_venue_(stadium)',
       'match_venue_(city)', 'match_venue_(country)', 'umpire_1', 'umpire_2',
       'match_referee', 'toss_winner', 'toss_winner_choice', 'match_winner',
       'match_result_text', 'mom_player', 'team1_playing_11',
       'team2_playing_11', 'debut_players'],
      dtype='object')

In [9]:
matches_data.head()

,t20i_match_no,match_id,match_name,series_id,series_name,match_date,match_format,team1_id,team1_name,team1_captain,...,umpire_2,match_referee,toss_winner,toss_winner_choice,match_winner,match_result_text,mom_player,team1_playing_11,team2_playing_11,debut_players
0,52,291356,Australia Vs India Only T20I,291355,India tour of Australia - 2007 (2007/08),2008-02-01,T20,6,India,7593,...,SJA Taufel,JJ Crowe,India,bat,Australia,Australia won by 9 wickets (with 52 balls rema...,8876.0,"['7773', '7781', '8813', '8742', '48405', '759...","['4176', '8876', '6253', '6256', '4382', '1198...","['11984', '49327', '48319']"
1,54,300436,New Zealand Vs England 2Nd T20I,300418,England tour of New Zealand - 2008 (2007/08),2008-02-07,T20,1,England,2314,...,GAV Baxter,AG Hurst,England,bat,England,England won by 50 runs,2314.0,"['11556', '44660', '8107', '7822', '2314', '63...","['44946', '10384', '44930', '10381', '9570', '...","['47488', '10325']"
2,65,361531,Netherlands Vs Scotland 2Nd Semi Final,353665,"ICC World Twenty20 Qualifier Bermuda, Canada, ...",2008-08-04,T20,30,Scotland,45548,...,PK Baldwin,BC Broad,Netherlands,bowl,Netherlands,Netherlands won by 5 wickets (with 12 balls re...,45358.0,"['45548', '46048', '46142', '8221', '4334', '4...","['10323', '48655', '6362', '49443', '45358', '...",[]
3,66,354459,Kenya Vs Scotland 3Rd Place Playoff,353665,"ICC World Twenty20 Qualifier Bermuda, Canada, ...",2008-08-04,T20,26,Kenya,2265,...,PK Baldwin,BC Broad,Kenya,bat,Scotland,Scotland won by 9 wickets (with 11 balls remai...,45548.0,"['10364', '2264', '49383', '2265', '2268', '50...","['45548', '46048', '46142', '8221', '4334', '4...","['50293', '50293']"
4,69,361653,Sri Lanka Vs Zimbabwe 1St Match,361644,T20 Canada in Canada - 2008 (2008/09),2008-10-10,T20,9,Zimbabwe,45326,...,MR Benson,JJ Crowe,Sri Lanka,bowl,Sri Lanka,Sri Lanka won by 5 wickets (with 6 balls remai...,50377.0,"['10639', '10423', '47619', '10421', '21364', ...","['48468', '7419', '15273', '8195', '6315', '48...","['50377', '47210', '12209', '15273', '48468', ..."

In [10]:
#Looking for null values
matches_data.isna().sum()

t20i_match_no              0
match_id                   0
match_name                 0
series_id                  0
series_name                0
match_date                11
match_format               0
team1_id                   0
team1_name                 0
team1_captain              0
team1_runs_scored         13
team1_wickets_fell        13
team1_extras_rec          13
team2_id                   0
team2_name                 0
team2_captain              0
team2_runs_scored         46
team2_wickets_fell        46
team2_extras_rec          46
match_venue_(stadium)      0
match_venue_(city)         0
match_venue_(country)      0
umpire_1                   2
umpire_2                   2
match_referee            441
toss_winner                1
toss_winner_choice        10
match_winner              91
match_result_text          0
mom_player               288
team1_playing_11           0
team2_playing_11           0
debut_players              0
dtype: int64

In [11]:
# Dropping Redundant columns
matches_data.drop(columns=['match_referee', 'umpire_1', 'umpire_2'], inplace=True)

In [12]:
matches_data.head(2)

,t20i_match_no,match_id,match_name,series_id,series_name,match_date,match_format,team1_id,team1_name,team1_captain,...,match_venue_(city),match_venue_(country),toss_winner,toss_winner_choice,match_winner,match_result_text,mom_player,team1_playing_11,team2_playing_11,debut_players
0,52,291356,Australia Vs India Only T20I,291355,India tour of Australia - 2007 (2007/08),2008-02-01,T20,6,India,7593,...,Melbourne,Australia,India,bat,Australia,Australia won by 9 wickets (with 52 balls rema...,8876.0,"['7773', '7781', '8813', '8742', '48405', '759...","['4176', '8876', '6253', '6256', '4382', '1198...","['11984', '49327', '48319']"
1,54,300436,New Zealand Vs England 2Nd T20I,300418,England tour of New Zealand - 2008 (2007/08),2008-02-07,T20,1,England,2314,...,Christchurch,New Zealand,England,bat,England,England won by 50 runs,2314.0,"['11556', '44660', '8107', '7822', '2314', '63...","['44946', '10384', '44930', '10381', '9570', '...","['47488', '10325']"

In [13]:
matches_data.sort_values('t20i_match_no', inplace=True)

In [14]:
matches_data

,t20i_match_no,match_id,match_name,series_id,series_name,match_date,match_format,team1_id,team1_name,team1_captain,...,match_venue_(city),match_venue_(country),toss_winner,toss_winner_choice,match_winner,match_result_text,mom_player,team1_playing_11,team2_playing_11,debut_players
10,1,211048,New Zealand Vs Australia Only T20I,238218,Australia tour of New Zealand - 2005 (2004/05),NaN,T20,2,Australia,2230,...,Auckland,New Zealand,Australia,bat,Australia,Australia won by 44 runs,2230.0,"['4176', '8876', '4382', '2230', '2066', '6259...","['10384', '2121', '7410', '9570', '5619', '193...","['4176', '4176', '10316', '4382', '10384', '10..."
11,2,211028,England Vs Australia Only T20I,238219,Australia tour of England and Scotland - 2005...,NaN,T20,1,England,4709,...,Southampton,England,England,bat,England,England won by 100 runs,8107.0,"['3865', '34719', '4271', '8107', '4709', '231...","['4176', '2119', '4382', '8876', '6256', '2230...","['4271', '7023', '2160', '34719', '2286', '228..."
12,3,222678,South Africa Vs New Zealand Only T20I,238166,New Zealand tour of South Africa - 2005 (2005...,NaN,T20,3,South Africa,10406,...,Johannesburg,South Africa,New Zealand,bowl,New Zealand,New Zealand won by 5 wickets (with 12 balls re...,11922.0,"['2239', '10406', '2232', '2347', '6335', '394...","['11922', '2121', '2235', '9633', '5619', '957...","['9505', '6343', '4086', '7540', '10406', '234..."
13,4,226374,Australia Vs South Africa Only T20I,226335,South Africa tour of Australia - 2005 (2005/06),NaN,T20,2,Australia,2230,...,Brisbane,Australia,Australia,bat,Australia,Australia won by 95 runs,2066.0,"['9235', '2066', '2230', '4382', '8876', '6256...","['10406', '3978', '2347', '3947', '2228', '223...","['4013', '3978', '6426', '9429', '9630', '1040..."
14,5,237242,New Zealand Vs West Indies Only T20I,237244,West Indies tour of New Zealand - 2006 (2005/06),NaN,T20,4,West Indies,2120,...,Auckland,New Zealand,New Zealand,bowl,NaN,Match tied,45554.0,"['7568', '7406', '10460', '45554', '6401', '21...","['10311', '2121', '2235', '9570', '1939', '356...","['7568', '7406', '7406', '21239', '21239', '47..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2375,2376,1407107,Kenya Vs Zimbabwe 19Th Match,1407043,ICC Men's T20 World Cup Africa Region Qualifie...,2023-11-30,T20,9,Zimbabwe,52319,...,Windhoek,Namibia,Kenya,bowl,Zimbabwe,Zimbabwe won by 110 runs,52319.0,"['52319', '88165', '47206', '62733', '66876', ...","['21463', '113787', '98597', '56793', '98584',...","['104960', '104960']"
2376,2377,1407108,Rwanda Vs Uganda 20Th Match,1407043,ICC Men's T20 World Cup Africa Region Qualifie...,2023-11-30,T20,191,Rwanda,102720,...,Windhoek,Namibia,Uganda,bowl,Uganda,Uganda won by 9 wickets (with 71 balls remaining),104950.0,"['102721', '56713', '103210', '102720', '11597...","['66273', '102780', '49195', '110336', '75965'...",[]
2377,2378,1407109,Namibia Vs Nigeria 21St Match,1407043,ICC Men's T20 World Cup Africa Region Qualifie...,2023-11-30,T20,173,Nigeria,102143,...,Windhoek,Namibia,Nigeria,bat,Namibia,Namibia won by 8 wickets (with 40 balls remain...,65478.0,"['96952', '59808', '71168', '104908', '102144'...","['80905', '69544', '65478', '66916', '53164', ...",[]
2378,2379,1389394,India Vs Australia 4Th T20I,1389383,Australia in India - 2023 (2023/24),2023-12-01,T20,6,India,61990,...,Raipur,India,Australia,bowl,India,India won by 20 runs,67455.0,"['102743', '95094', '71331', '61990', '75591',...","['66190', '101339', '70392', '101340', '83439'...",['78281']
2379,2380,1389395,India Vs Australia 5Th T20I,1389383,Australia in India - 2023 (2023/24),2023-12-03,T20,6,India,61990,...,Bengaluru,India,Australia,bowl,India,India won by 6 runs,67455.0,"['102743', '95094', '71331', '61990', '75591',...","['66190', '101339', '70392', '101340', '83439'...",[]

In [15]:
# Converting date values to Date Time format i.e Timestamp

matches_data['match_date'] = pd.to_datetime(matches_data['match_date'])

In [16]:
# Finding out time range of data
print(matches_data['match_date'].min())
print(matches_data['match_date'].max())

2006-06-15 00:00:00
2023-12-03 00:00:00

### Understanding & Cleaning player information data

In [17]:
players_info.head()

,player_id,player_object_id,player_name,dob,dod,gender,batting_style,bowling_style,country_id,image_url,image_metadata
0,93957,1046619,Avinash Pai,1982-01-24,NaN,M,right-hand bat,right-arm offbreak,18.0,NaN,NaN
1,2182,51462,Sherwin Campbell,1970-11-01,NaN,M,right-hand bat,right-arm medium,4.0,"https://img1.hscicdn.com/image/upload/f_auto,t...","{'id': 326616, 'url': '/db/PICTURES/CMS/326600..."
2,48391,56194,Tamim Iqbal,1989-03-20,NaN,M,left-hand bat,NaN,25.0,"https://img1.hscicdn.com/image/upload/f_auto,t...","{'id': 303166, 'url': '/db/PICTURES/CMS/303100..."
3,2198,55935,Javed Omar,1976-11-25,NaN,M,right-hand bat,legbreak,25.0,"https://img1.hscicdn.com/image/upload/f_auto,t...","{'id': 302990, 'url': '/db/PICTURES/CMS/302900..."
4,52290,298438,Jason Roy,1990-07-21,NaN,M,right-hand bat,NaN,1.0,"https://img1.hscicdn.com/image/upload/f_auto,t...","{'id': 303963, 'url': '/db/PICTURES/CMS/303900..."

In [18]:
players_info.shape

(6678, 11)

In [19]:
players_info.isna().sum()

player_id              0
player_object_id       0
player_name            0
dob                   26
dod                 5420
gender                 0
batting_style         94
bowling_style       1151
country_id             2
image_url           2941
image_metadata      2941
dtype: int64

In [20]:
players_info['gender'].value_counts()

gender
M    6677
F       1
Name: count, dtype: int64

In [21]:
# Dropping Redundant Columns
players_info.drop(columns=['gender', 'image_url', 'image_metadata'], inplace=True)

In [22]:
players_info.head()

,player_id,player_object_id,player_name,dob,dod,batting_style,bowling_style,country_id
0,93957,1046619,Avinash Pai,1982-01-24,NaN,right-hand bat,right-arm offbreak,18.0
1,2182,51462,Sherwin Campbell,1970-11-01,NaN,right-hand bat,right-arm medium,4.0
2,48391,56194,Tamim Iqbal,1989-03-20,NaN,left-hand bat,NaN,25.0
3,2198,55935,Javed Omar,1976-11-25,NaN,right-hand bat,legbreak,25.0
4,52290,298438,Jason Roy,1990-07-21,NaN,right-hand bat,NaN,1.0

### Understanding & Cleaning batting stats data

In [23]:
batting_data.shape

(51737, 13)

In [24]:
batting_data.head(20)

,Match ID,innings,team,batsman,runs,balls,fours,sixes,strikeRate,isOut,wicketType,fielders,bowler
0,361657,1,Zimbabwe,10423.0,53.0,38.0,5.0,3.0,139.47,True,run out,['47099'],NaN
1,361657,1,Zimbabwe,49282.0,12.0,22.0,2.0,0.0,54.54,True,caught,['47738'],8270.0
2,361657,1,Zimbabwe,47619.0,8.0,26.0,0.0,0.0,30.76,True,caught,['19596'],47099.0
3,361657,1,Zimbabwe,10421.0,4.0,6.0,1.0,0.0,66.66,True,caught,['8270'],4169.0
4,361660,1,Pakistan,11647.0,44.0,41.0,4.0,1.0,107.31,True,caught,['15267'],50377.0
5,361657,1,Zimbabwe,45252.0,4.0,8.0,0.0,0.0,50.00,True,caught,['9257'],47099.0
6,361660,1,Pakistan,47738.0,0.0,5.0,0.0,0.0,0.00,True,caught,['11271'],11271.0
7,361657,1,Zimbabwe,10639.0,0.0,1.0,0.0,0.0,0.00,True,caught,['9257'],44908.0
8,361660,1,Pakistan,4169.0,14.0,13.0,1.0,0.0,107.69,True,caught,['8203'],15267.0
9,361531,1,Scotland,45548.0,22.0,27.0,1.0,0.0,81.48,True,bowled,NaN,45001.0
10,361660,1,Pakistan,10439.0,0.0,4.0,0.0,0.0,0.00,True,run out,['10412'],NaN
11,361657,1,Zimbabwe,49274.0,7.0,9.0,1.0,0.0,77.77,True,stumping,['9257'],47099.0
12,361531,1,Scotland,46048.0,40.0,44.0,4.0,2.0,90.90,True,run out,"['45001', '48503']",NaN
13,361660,1,Pakistan,8270.0,19.0,19.0,1.0,1.0,100.00,True,caught,['8203'],50377.0
14,361657,1,Zimbabwe,51554.0,1.0,6.0,0.0,0.0,16.66,True,run out,['47738'],NaN
15,361531,1,Scotland,46142.0,25.0,27.0,1.0,0.0,92.59,True,run out,['5694'],NaN
16,361660,1,Pakistan,19596.0,23.0,25.0,2.0,0.0,92.00,False,not out,['-'],NaN
17,361657,1,Zimbabwe,45326.0,0.0,2.0,0.0,0.0,0.00,False,not out,['-'],NaN
18,361531,1,Scotland,8221.0,0.0,1.0,0.0,0.0,0.00,True,caught,['48503'],45358.0
19,361657,1,Zimbabwe,7432.0,0.0,2.0,0.0,0.0,0.00,False,not out,['-'],NaN

In [25]:
batting_data.tail(20)

,Match ID,innings,team,batsman,runs,balls,fours,sixes,strikeRate,isOut,wicketType,fielders,bowler
51717,1407109,2,Namibia,70085.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
51718,1407106,2,Kenya,98584.0,27.0,23.0,1.0,1.0,117.39,True,bowled,NaN,102781.0
51719,1407718,2,Cambodia,97301.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
51720,1407107,2,Kenya,104969.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
51721,1407106,2,Kenya,53203.0,0.0,2.0,0.0,0.0,0.00,True,caught,['104950'],104950.0
51722,1407106,2,Kenya,53171.0,3.0,4.0,0.0,0.0,75.00,True,bowled,NaN,86017.0
51723,1407106,2,Kenya,61834.0,6.0,10.0,0.0,0.0,60.00,True,caught,['101619'],102781.0
51724,1407106,2,Kenya,63485.0,1.0,1.0,0.0,0.0,100.00,False,not out,['-'],NaN
51725,1407106,2,Kenya,104969.0,0.0,1.0,0.0,0.0,0.00,True,bowled,NaN,102781.0
51726,1407719,1,Cambodia,113874.0,24.0,18.0,0.0,3.0,133.33,True,caught,['104109'],113472.0
51727,1407719,1,Cambodia,56820.0,25.0,29.0,2.0,0.0,86.20,False,not out,['-'],NaN
51728,1407719,1,Cambodia,102014.0,0.0,4.0,0.0,0.0,0.00,True,caught,['96722'],104107.0
51729,1407719,1,Cambodia,73409.0,20.0,18.0,2.0,0.0,111.11,True,caught,['104120'],116364.0
51730,1407719,1,Cambodia,114276.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
51731,1407719,1,Cambodia,97301.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
51732,1407719,1,Cambodia,114568.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
51733,1407719,1,Cambodia,60071.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
51734,1407719,1,Cambodia,114232.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
51735,1407719,1,Cambodia,116366.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
51736,1407719,1,Cambodia,116367.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN

In [26]:
batting_data.sample(10)

,Match ID,innings,team,batsman,runs,balls,fours,sixes,strikeRate,isOut,wicketType,fielders,bowler
2931,412686,2,Zimbabwe,45252.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
12826,1050219,1,Pakistan,8270.0,37.0,28.0,3.0,1.0,132.14,True,caught,['49040'],45257.0
32482,1298148,2,England,72103.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
46669,1383072,2,Germany,109683.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
34697,1310176,2,Czech Rep.,112024.0,1.0,5.0,0.0,0.0,20.00,True,caught,['106702'],109882.0
34332,1310160,1,Cayman Is,111929.0,59.0,40.0,3.0,3.0,147.50,True,caught,['49645'],NaN
26363,1268190,2,Belgium,65563.0,0.0,2.0,0.0,0.0,0.00,True,caught,['108157'],109590.0
8537,682955,2,New Zealand,10384.0,0.0,5.0,0.0,0.0,0.00,True,stumping,['9587'],8460.0
38479,1322010,2,Malaysia,71052.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN
17349,1185180,1,Norway,97543.0,NaN,NaN,NaN,NaN,NaN,False,DNB,NaN,NaN

In [27]:
#Checking null values
batting_data.isna().sum()

Match ID          0
innings           0
team             26
batsman          26
runs          13368
balls         13368
fours         13368
sixes         13368
strikeRate    13368
isOut            26
wicketType       26
fielders      22231
bowler        26192
dtype: int64

In [28]:
# Dropping rows with null values in runs, balls, fours, sixes, strikeRate
batting_data.dropna(subset=['runs','balls','fours','sixes', 'strikeRate'], inplace=True)

In [29]:
batting_data.isna().sum()

Match ID          0
innings           0
team              0
batsman           0
runs              0
balls             0
fours             0
sixes             0
strikeRate        0
isOut             0
wicketType        0
fielders       8863
bowler        12824
dtype: int64

In [30]:
batting_data

,Match ID,innings,team,batsman,runs,balls,fours,sixes,strikeRate,isOut,wicketType,fielders,bowler
0,361657,1,Zimbabwe,10423.0,53.0,38.0,5.0,3.0,139.47,True,run out,['47099'],NaN
1,361657,1,Zimbabwe,49282.0,12.0,22.0,2.0,0.0,54.54,True,caught,['47738'],8270.0
2,361657,1,Zimbabwe,47619.0,8.0,26.0,0.0,0.0,30.76,True,caught,['19596'],47099.0
3,361657,1,Zimbabwe,10421.0,4.0,6.0,1.0,0.0,66.66,True,caught,['8270'],4169.0
4,361660,1,Pakistan,11647.0,44.0,41.0,4.0,1.0,107.31,True,caught,['15267'],50377.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51725,1407106,2,Kenya,104969.0,0.0,1.0,0.0,0.0,0.00,True,bowled,NaN,102781.0
51726,1407719,1,Cambodia,113874.0,24.0,18.0,0.0,3.0,133.33,True,caught,['104109'],113472.0
51727,1407719,1,Cambodia,56820.0,25.0,29.0,2.0,0.0,86.20,False,not out,['-'],NaN
51728,1407719,1,Cambodia,102014.0,0.0,4.0,0.0,0.0,0.00,True,caught,['96722'],104107.0
51729,1407719,1,Cambodia,73409.0,20.0,18.0,2.0,0.0,111.11,True,caught,['104120'],116364.0

In [32]:
batting_data.rename(columns= {'Match ID' : 'match_id'}, inplace=True)
batting_data

,match_id,innings,team,batsman,runs,balls,fours,sixes,strikeRate,isOut,wicketType,fielders,bowler
0,361657,1,Zimbabwe,10423.0,53.0,38.0,5.0,3.0,139.47,True,run out,['47099'],NaN
1,361657,1,Zimbabwe,49282.0,12.0,22.0,2.0,0.0,54.54,True,caught,['47738'],8270.0
2,361657,1,Zimbabwe,47619.0,8.0,26.0,0.0,0.0,30.76,True,caught,['19596'],47099.0
3,361657,1,Zimbabwe,10421.0,4.0,6.0,1.0,0.0,66.66,True,caught,['8270'],4169.0
4,361660,1,Pakistan,11647.0,44.0,41.0,4.0,1.0,107.31,True,caught,['15267'],50377.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51725,1407106,2,Kenya,104969.0,0.0,1.0,0.0,0.0,0.00,True,bowled,NaN,102781.0
51726,1407719,1,Cambodia,113874.0,24.0,18.0,0.0,3.0,133.33,True,caught,['104109'],113472.0
51727,1407719,1,Cambodia,56820.0,25.0,29.0,2.0,0.0,86.20,False,not out,['-'],NaN
51728,1407719,1,Cambodia,102014.0,0.0,4.0,0.0,0.0,0.00,True,caught,['96722'],104107.0
51729,1407719,1,Cambodia,73409.0,20.0,18.0,2.0,0.0,111.11,True,caught,['104120'],116364.0

### Understanding & Cleaning bowling stats data

In [34]:
bowling_data

,Match ID,innings,team,opposition,bowler id,overs,balls,maidens,conceded,wickets,economy,dots,fours,sixes,wides,noballs
0,300436,1,New Zealand,England,10303.0,4.0,24.0,0.0,35.0,1.0,8.75,10.0,3.0,2.0,1.0,0.0
1,300436,1,New Zealand,England,9711.0,4.0,24.0,0.0,45.0,1.0,11.25,5.0,6.0,1.0,1.0,0.0
2,300436,1,New Zealand,England,10325.0,3.0,18.0,0.0,43.0,2.0,14.33,5.0,3.0,4.0,1.0,0.0
3,300436,1,New Zealand,England,49108.0,4.0,24.0,0.0,22.0,2.0,5.50,10.0,1.0,1.0,0.0,0.0
4,300436,1,New Zealand,England,9570.0,3.0,18.0,0.0,25.0,0.0,8.33,8.0,3.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28112,1407719,1,Indonesia,Cambodia,104107.0,3.0,18.0,0.0,24.0,1.0,8.00,9.0,1.0,2.0,2.0,0.0
28113,1407719,1,Indonesia,Cambodia,113472.0,2.0,12.0,0.0,14.0,1.0,7.00,5.0,1.0,0.0,3.0,0.0
28114,1407719,1,Indonesia,Cambodia,116364.0,2.3,15.0,0.0,10.0,1.0,4.00,8.0,0.0,0.0,0.0,0.0
28115,1407719,1,Indonesia,Cambodia,104109.0,1.0,6.0,0.0,12.0,0.0,12.00,1.0,2.0,0.0,0.0,0.0
28116,1407719,1,Indonesia,Cambodia,113475.0,1.0,6.0,0.0,4.0,0.0,4.00,2.0,0.0,0.0,0.0,0.0

In [37]:
bowling_data.sample(20)

,Match ID,innings,team,opposition,bowler id,overs,balls,maidens,conceded,wickets,economy,dots,fours,sixes,wides,noballs
16703,1283049,2,Tanzania,Cameroon,102732.0,4.0,24.0,2.0,7.0,4.0,1.75,19.0,0.0,0.0,1.0,0.0
24944,1380581,1,Belgium,Germany,112205.0,4.0,24.0,0.0,29.0,1.0,7.25,11.0,4.0,0.0,3.0,0.0
25310,1383065,1,Isle of Man,Austria,108083.0,4.0,24.0,0.0,31.0,1.0,7.75,NaN,NaN,NaN,2.0,0.0
7986,1142506,2,Scotland,Netherlands,76927.0,4.0,24.0,0.0,26.0,3.0,6.50,10.0,0.0,2.0,0.0,0.0
22696,1343765,2,Malawi,Lesotho,103952.0,4.0,24.0,0.0,13.0,2.0,3.25,16.0,1.0,0.0,0.0,0.0
16816,1283094,1,Sierra Leone,Nigeria,71199.0,2.0,12.0,0.0,12.0,0.0,6.00,5.0,1.0,0.0,0.0,0.0
63,361657,1,Pakistan,Zimbabwe,8270.0,4.0,24.0,0.0,15.0,1.0,3.75,15.0,1.0,0.0,4.0,0.0
23230,1348323,1,Zimbabwe,Ireland,67884.0,4.0,24.0,0.0,13.0,2.0,3.25,15.0,1.0,0.0,0.0,0.0
13473,1251955,2,South Africa,Ireland,67364.0,4.0,24.0,0.0,25.0,0.0,6.25,8.0,1.0,1.0,0.0,0.0
18569,1310158,1,Cayman Is,Bahamas,111931.0,3.0,18.0,0.0,22.0,0.0,7.33,NaN,NaN,NaN,4.0,0.0
5509,902653,2,England,Pakistan,49496.0,4.0,24.0,0.0,26.0,1.0,6.50,11.0,2.0,1.0,0.0,0.0
22629,1343757,2,St Helena,Lesotho,114030.0,3.0,18.0,0.0,20.0,1.0,6.66,9.0,1.0,0.0,2.0,0.0
591,287879,1,Pakistan,India,19627.0,3.0,18.0,0.0,25.0,1.0,8.33,7.0,2.0,1.0,1.0,0.0
1424,403375,2,Pakistan,Sri Lanka,19820.0,3.1,19.0,0.0,19.0,3.0,6.00,10.0,1.0,1.0,0.0,1.0
8823,1172506,2,Ireland,Oman,65913.0,4.0,24.0,0.0,42.0,2.0,10.50,7.0,6.0,0.0,1.0,1.0
18427,1307161,1,Ireland,Afghanistan,85975.0,4.0,24.0,0.0,29.0,2.0,7.25,8.0,3.0,0.0,2.0,0.0
14843,1273271,1,Zimbabwe,Scotland,66876.0,4.0,24.0,0.0,28.0,2.0,7.00,8.0,2.0,1.0,1.0,0.0
22250,1339207,2,Italy,Spain,106168.0,2.0,12.0,0.0,12.0,1.0,6.00,5.0,0.0,1.0,0.0,0.0
23497,1349378,2,Malaysia,Bahrain,68320.0,3.0,18.0,0.0,21.0,0.0,7.00,7.0,1.0,1.0,1.0,0.0
16082,1280063,2,P.N.G.,Scotland,100464.0,2.0,12.0,0.0,13.0,0.0,6.50,4.0,1.0,0.0,0.0,0.0

In [38]:
# Checking null values
bowling_data.isna().sum()

Match ID         0
innings          0
team            26
opposition      26
bowler id       26
overs           26
balls           26
maidens         26
conceded        26
wickets         26
economy         26
dots          2011
fours         2011
sixes         2011
wides           26
noballs         26
dtype: int64

In [43]:
# Verying Null rows
bowling_data[bowling_data['team'].isna()]

,Match ID,innings,team,opposition,bowler id,overs,balls,maidens,conceded,wickets,economy,dots,fours,sixes,wides,noballs
369,287859,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,287859,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
881,354461,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
882,354461,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5238,876465,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5239,876465,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5262,876467,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5263,876467,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5845,951317,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5846,951317,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9433,1185189,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9434,1185189,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12083,1202242,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12084,1202242,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15406,1275041,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15407,1275041,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22636,1343759,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22637,1343759,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23475,1349141,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23476,1349141,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25207,1381459,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25208,1381459,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25222,1381460,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25224,1381460,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26055,1391336,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26056,1391336,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# Dropping these rows
bowling_data.dropna(subset="team", inplace=True)

In [46]:
bowling_data.isna().sum()

Match ID         0
innings          0
team             0
opposition       0
bowler id        0
overs            0
balls            0
maidens          0
conceded         0
wickets          0
economy          0
dots          1985
fours         1985
sixes         1985
wides            0
noballs          0
dtype: int64

In [50]:
bowling_data[bowling_data['dots'].isna()]

# No need to drop these

,Match ID,innings,team,opposition,bowler id,overs,balls,maidens,conceded,wickets,economy,dots,fours,sixes,wides,noballs
239,264065,1,Zimbabwe,Bangladesh,4177.0,4.0,24.0,0.0,40.0,2.0,10.00,NaN,NaN,NaN,0.0,0.0
240,264065,1,Zimbabwe,Bangladesh,46653.0,3.0,18.0,0.0,33.0,1.0,11.00,NaN,NaN,NaN,1.0,1.0
241,264065,1,Zimbabwe,Bangladesh,45252.0,2.0,12.0,0.0,22.0,1.0,11.00,NaN,NaN,NaN,3.0,0.0
242,264065,1,Zimbabwe,Bangladesh,45326.0,4.0,24.0,0.0,25.0,3.0,6.25,NaN,NaN,NaN,0.0,1.0
243,264065,1,Zimbabwe,Bangladesh,47206.0,4.0,24.0,0.0,28.0,1.0,7.00,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27482,1403305,1,Argentina,Chile,105820.0,2.0,12.0,0.0,8.0,0.0,4.00,NaN,NaN,NaN,4.0,0.0
27483,1403305,2,Chile,Argentina,116137.0,2.0,12.0,0.0,17.0,0.0,8.50,NaN,NaN,NaN,1.0,0.0
27484,1403305,2,Chile,Argentina,106568.0,2.0,12.0,0.0,18.0,0.0,9.00,NaN,NaN,NaN,0.0,0.0
27485,1403305,2,Chile,Argentina,116128.0,1.0,6.0,0.0,7.0,0.0,7.00,NaN,NaN,NaN,0.0,0.0
27486,1403305,2,Chile,Argentina,116127.0,1.0,6.0,0.0,11.0,0.0,11.00,NaN,NaN,NaN,0.0,0.0

In [51]:
bowling_data.rename(columns= {'Match ID' : 'match_id'}, inplace=True)
bowling_data

,match_id,innings,team,opposition,bowler id,overs,balls,maidens,conceded,wickets,economy,dots,fours,sixes,wides,noballs
0,300436,1,New Zealand,England,10303.0,4.0,24.0,0.0,35.0,1.0,8.75,10.0,3.0,2.0,1.0,0.0
1,300436,1,New Zealand,England,9711.0,4.0,24.0,0.0,45.0,1.0,11.25,5.0,6.0,1.0,1.0,0.0
2,300436,1,New Zealand,England,10325.0,3.0,18.0,0.0,43.0,2.0,14.33,5.0,3.0,4.0,1.0,0.0
3,300436,1,New Zealand,England,49108.0,4.0,24.0,0.0,22.0,2.0,5.50,10.0,1.0,1.0,0.0,0.0
4,300436,1,New Zealand,England,9570.0,3.0,18.0,0.0,25.0,0.0,8.33,8.0,3.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28112,1407719,1,Indonesia,Cambodia,104107.0,3.0,18.0,0.0,24.0,1.0,8.00,9.0,1.0,2.0,2.0,0.0
28113,1407719,1,Indonesia,Cambodia,113472.0,2.0,12.0,0.0,14.0,1.0,7.00,5.0,1.0,0.0,3.0,0.0
28114,1407719,1,Indonesia,Cambodia,116364.0,2.3,15.0,0.0,10.0,1.0,4.00,8.0,0.0,0.0,0.0,0.0
28115,1407719,1,Indonesia,Cambodia,104109.0,1.0,6.0,0.0,12.0,0.0,12.00,1.0,2.0,0.0,0.0,0.0
28116,1407719,1,Indonesia,Cambodia,113475.0,1.0,6.0,0.0,4.0,0.0,4.00,2.0,0.0,0.0,0.0,0.0

### Performing Exploratory Data Analysis(EDA) on the datasets